{% extends '/admin/master.html' %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='admin/css/ccr.css') }}" rel="stylesheet">
{% endblock %}

{%block content_main%}
<div class="content-header">
    <p>Thống kê / Tỉ lệ hoàn thành khoá học</p>
    <p></p>
</div>
<div class="content-body">
    <div class="ccr-search">
        <div>
            <input type="text" placeholder="Nhập từ khoá">
            <button><i class="fa fa-search"></i></button>
        </div>
    </div>

    <div class="ccr-main">
        {%for t in total_passed_students%}
        <div>
        <div class="content-cell">
            <div class="ccr-chart">
                <canvas id="pieChart{{loop.index}}"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                    const ctx{{loop.index}} = document.getElementById('pieChart{{loop.index}}');

                    const labels{{loop.index}} = ['Đậu','Rớt'];

                    const datas{{loop.index}} = [{{t.pass}},{{t.fail}}]

                    new Chart(ctx{{loop.index}}, {
                        type: 'pie',
                        data: {
                            labels: labels{{loop.index}},
                            datasets: [{
                                label: 'người',
                                data: datas{{loop.index}},
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
            <div class="ccr-info">
                <p>{{t.course_name}}</p>
                <div>
                    <span>Tổng số học sinh đăng ký: </span>
                    <span>{{t.pass+t.fail}}</span>
                </div>
                <div>
                    <span>Số học sinh đạt: </span>
                    <span>{{t.pass}}</span>
                </div>
                <div>
                    <span>Số học sinh rớt: </span>
                    <span>{{t.fail}}</span>
                </div>

            </div>
        </div>
        </div>
        {%endfor%}
    </div>

</div>
{%endblock%}