{% extends '/admin/master.html' %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='admin/css/ccr.css') }}" rel="stylesheet">
{% endblock %}

{%block content_main%}
<div class="content-header">
    <p>Thống kê / Tỉ lệ hoàn thành khoá học</p>
    <p></p>
</div>
<div class="content-body">
    <div>
        <div class="ccr-chart">
            <canvas id="pieChart3"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctx3 = document.getElementById('pieChart3');

                const labels3 = ['Quý 1', 'Quý 2', 'Quý 3', 'Quý 4'];

                const data3 = {{quarterly_revenue | tojson}}

                new Chart(ctx3, {
                    type: 'doughnut',
                    data: {
                        labels: labels3,
                        datasets: [{
                            label: 'Tổng doanh thu quý (VNĐ)',
                            data: data3,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
        <div class="ccr-info">
            <p>Tên khoá học</p>
            <div>
                <span>Tổng số học sinh đăng ký: </span>
                <span>2000</span>
            </div>
            <div>
                <span>Số học sinh đạt: </span>
                <span>50</span>
            </div>
            <div>
                <span>Số học sinh rớt: </span>
                <span>20</span>
            </div>
        </div>
    </div>
</div>
{%endblock%}