{%extends 'admin/base.html'%}
{% import 'admin/static.html' as admin_static with context %}

{% block head %}
    {{ super() }}
    <script src="{{ admin_static.url(filename='vendor/jquery.min.js', v='3.5.1') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='admin/js/helpers.js', v='1.0.0') }}" type="text/javascript"></script>
    <!-- XÓA Bootstrap gốc nếu muốn -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->

    <!-- CSS mới của bạn -->
    {% block extra_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin_home.css') }}">
    {% endblock %}
{% endblock %}


{% block brand %}
    <div class="brand-logo-container">
        <a href="/admin/">
            <span class="brand-text-top">ENGLISH</span>
            <span class="brand-text-bottom">CENTER</span>
        </a>
    </div>
{% endblock %}

{% block statistic_menu %}

{%endblock %}

{% block menu_links %}
    <ul class="navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown"">
                Thống kê
                <i class="glyphicon glyphicon-chevron-down small"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin/revenue">Doanh thu</a></li>
                <li><a class="dropdown-item" href="/admin/ccr">Tỉ lệ hoàn thành khoá học</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <hr>
        <li>
            <a class="nav-link">Đăng xuất</a>
        </li>
    </ul>
{% endblock %}


{% block tail %}
    {{super()}}
{% endblock %}