{%extends 'admin/base.html'%}

{% block head %}
    {{ super() }}

    <!-- XÓA Bootstrap gốc nếu muốn -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->

    <!-- CSS mới của bạn -->
    {% block extra_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin_home.css') }}">
    {% endblock %}
{% endblock %}


{% block brand %}
    <div class="brand-logo-container">
        <a href="/admin/">
            <span class="brand-text-top">ENGLISH</span>
            <span class="brand-text-bottom">CENTER</span>
        </a>
    </div>
{% endblock %}

{% block menu_links %}
    <ul class="nav navbar-nav navbar-right">
        <hr>
        <li>
            <a class="nav-link">Đăng xuất</a>
        </li>
    </ul>
{% endblock %}

{% block tail %}
    {{super()}}
    <script src="{{ url_for('static', filename='/admin/js/admin.js') }}"></script>
{% endblock %}