{% extends '/admin/master.html' %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='admin/css/revenue.css') }}" rel="stylesheet">
{% endblock %}

{%block content_main%}
<div class="content-header">
    <p>Thống kê / Doanh thu</p>
    <p></p>
</div>
<div class="content-body">
    <div>
        <div class="content-cell sta">
            <div id="sta1">
                <div class="statistic-header">
                </div>
                <div class="statistic-body">
                    <div class="statistic-content">
                        <div>
                            <i class="fa fa-book"></i>
                        </div>
                        <div>
                            <p>Tổng số<br>lớp học</p>
                        </div>
                    </div>
                    <div class="statistic-content">
                        <div class="statistic-money">
                            <span class="">{{total_classrooms}}</span>
                            <span class="vnd">lớp</span>
                        </div>
                    </div>

                </div>
                <div class="statistic-footer">
                </div>
            </div>
            <div id="sta2">
                <div class="statistic-header">
                </div>
                <div class="statistic-body">
                    <div class="statistic-content">
                        <div>
                            <i class="fa fa-book"></i>
                        </div>
                        <div>
                            <p>Tổng số<br>học sinh</p>
                        </div>
                    </div>
                    <div class="statistic-content">
                        <div class="statistic-money">
                            <span class="">{{total_students}}</span>
                            <span class="vnd">người</span>
                        </div>
                    </div>

                </div>
                <div class="statistic-footer">
                </div>
            </div>
            <div id="sta3">
                <div class="statistic-header">
                </div>
                <div class="statistic-body">
                    <div class="sta-cont-head">
                        <form method="get">
                            <label for="sta-select">Thống kê theo năm</label>
                            <select id="sta-select" name="year" onchange="this.form.submit()">
                            {% for y in years_list %}
                                <option value="{{ y.years }}" {% if y.years == selected_year %}selected{% endif %}>
                                    Năm {{ y.years }}
                                </option>
                            {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="statistic-content">
                        <div>
                            <div class="sta-cont-body">
                                <span>Tổng doanh thu năm:</span>
                                <span>{{total_annual_revenue | large_number}} VNĐ</span>
                            </div>
                        </div>
                        <div>
                            <div class="sta-cont-body">
                                <span>Tháng cao nhất:</span>
                                <span>Tháng {{highest_monthly_revenue}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="sta-cont-body">
                                <span>Doanh thu trung bình:</span>
                                <span>{{(total_annual_revenue/12) | large_number}} VNĐ</span>
                            </div>
                        </div>
                        <div>
                            <div class="sta-cont-body">
                                <span>Tháng thấp nhất:</span>
                                <span>Tháng {{lowest_monthly_revenue}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="statistic-footer">
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="content-cell my-chart">
            <p>Biểu đồ doanh thu từng tháng trong năm {{selected_year}}</p>
            <canvas id="barChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx = document.getElementById('barChart');

            const labels = [ 'Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'];
            const dataRevenue = {{ annual_revenue | tojson }};

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Tổng doanh thu tháng (VNĐ)',
                        data: dataRevenue,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>

    <div>
        <div class="content-cell month">
            <div class="month-header">
                <form>
                    <label for="month-select">Doanh thu theo tháng</label>
                    <select id="month-select" name="month" onchange="this.form.submit()">
                    {% for month in months_list %}
                        <option value="{{ month.value }}"
                            {% if month.value == current_month %}selected{% endif %}>
                            {{ month.label }}
                        </option>
                    {% endfor %}
                    </select>
                </form>
                <div class="statistic-money">
                    <span>{{monthly_revenue | large_number}}</span>
                    <span>VND</span>
                </div>
            </div>
            <div class="month-body">
                <table class="data-table">
                    <thead>
                    <tr>
                        <th>KHÓA HỌC</th>
                        <th>SỐ LỚP MỞ</th>
                        <th>SỐ LƯỢNG HỌC VIÊN</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in course_data %}
                    <tr>
                        <td>{{ row.coursename }}</td>
                        <td>{{ row.totalclassrooms }}</td>
                        <td>{{ row.totalstudents }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">Không có dữ liệu khóa học nào trong tháng này.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="content-cell my-chart">
            <p>Biểu đồ doanh thu theo quý năm {{selected_year}}</p>
            <div>
                <canvas id="doughnutChart"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx2 = document.getElementById('doughnutChart');

            const labels2 = ['Quý 1','Quý 2','Quý 3','Quý 4'];

            const data2 = {{quarterly_revenue | tojson}}

            new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: labels2,
                    datasets: [{
                        label: 'Tổng doanh thu quý (VNĐ)',
                        data: data2,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</div>
{%endblock%}