:root {
    --xam: rgb(77,81,84);
    --chuXam: #ffffff80;
    --xanhduong: rgb(26,35,126);
    --xanhbien: #0d6efd;
    --den: #212529;
    --background: #f8f9fa;
    --do: #e31c25;
}

.alert {
    position: fixed;
    width: 100%;
    height: fit-content;
}

/*BODY*/
body {
    background-color: var(--background);
    color: black;
}

p, li, a {
    color: var(--xam);
    font-size: 15px;
}

button:focus, input:focus {
    outline: none;
}

/*BRAND*/
.brand-logo-container a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0.85;
}

.brand-logo-container a:hover{
    color: transparent !important;
}

.brand-text-top {
    color: rgb(227, 28, 37);
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.brand-text-bottom {
    background-color: rgb(227, 28, 37);
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 2px;
    padding: 2px 6px;
}

/*SIDE BAR*/
.side-bar {
    min-width: 270px;
    min-height: 100vh;
    align-items: start;
    padding: 1rem;
    background-color: var(--xanhduong);
}

.navbar-brand {
    color: black !important;
}

#main-sidebar {
    padding:0;
    background-color: transparent !important;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav .dropdown{
    width: 100%;
}

.navbar-nav .nav-link {
    color: var(--chuXam);
}

.navbar-nav .dropdown-toggle{
    color: var(--chuXam) !important;
}

.navbar-nav .dropdown-toggle:hover{
    color: white !important;
}

.navbar-nav .dropdown-toggle.active{
    color: white !important;

}

/*.navbar-nav .dropdown-toggle::after{*/
/*    display: none;*/
/*}*/

.navbar-nav .dropdown .dropdown-menu {
    /* Loại bỏ viền, nền trắng của dropdown */
    position: static !important; /* Quan trọng: Giữ nó trong luồng sidebar */
    /*display: block !important;    !* Quan trọng: Luôn hiển thị (không ẩn/xổ xuống) *!*/
    background-color: transparent !important; /* Nền trong suốt để thấy sidebar */
    border: none !important;
    box-shadow: none !important;
    padding: 0;
    margin: 0;
    float: none !important;
    width: auto !important;
    width: 100% !important;
}

.navbar-nav .dropdown .dropdown-menu li {
    width: 100%;
}

.navbar-nav .dropdown.active > .nav-link{
    color: white !important;
}

.navbar-nav .dropdown .dropdown-item {
    color: var(--chuXam);
}

.navbar-nav .dropdown .dropdown-item.active {
    color: white !important;
    background-color: transparent !important;

}

.navbar-nav .dropdown .dropdown-item:hover {
    background-color: var(--xam);
    color: white;
}

.navbar-right {
    flex-direction: column !important;
    list-style: none !important;
}

.navbar-right hr {
    display: block;
    border-top: 0.5px solid var(--xam);
    margin: 0;
}

/*content*/
.content {
    min-height: 100vh;
    height: 100%;
}

/*CONTENT NAVBAR*/
.content .navbar {
    height: 5%;
    align-content: center;
    box-sizing: content-box;
    background-color: var(--den);
    border-bottom: 1px solid lightgray;
}

.navbar-content {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.navbar-content #btnOpen {
    color: white;
    background-color: transparent;
    border: 0;
}



.nav-item {
    padding: 0;
}

.navbar .nav-link {
    padding-left: 0;
    color: white;
}

.fa-list-ul {
    display: block;
}

.navbar .nav-link:hover {
    color: gray;
}

/*CONTENT_MAIN*/
.content-main {
    margin: 0;
    padding: 1rem;
    height: 95%;
    width: 100%;
}
form.form-control {
    height: fit-content;
}

.content-main .form-group {
    margin: 1rem !important;
}

.content-header p{
    margin-bottom: 0.2rem;
    color: var(--xam);
}

.content-header p:nth-child(2){
    font-size: 20px;
    padding-bottom: 0.5rem;
    border-bottom: 1.5px solid lightgray;
    margin-bottom: 0.5rem;
}

.content-main .table-responsive {
    width: 100%;
}

/*CONTENT statistic*/
.statistic {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fill,minmax(250px,1fr));*/
}

.statistic-body {
    justify-content: space-around;
    display: flex;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    box-sizing: border-box;
    border-radius: 0 0 1rem 1rem;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    border-top: 0;
}

.statistic > div {
    box-sizing: border-box;
    width: 25%;
    min-width: 268px;
}

.statistic-content {
    background-color: white;
    padding: 0.5rem;
    align-content: center;
}

.statistic-content:first-child {
    width: 40%;
    padding: 0 0.5rem;
    padding-left: 0;
}

.statistic-content:nth-child(2) {
    width: 60%;
    justify-items: end;
    padding: 0 0.5rem;
}

.statistic-content p {
    margin: 0;
}


.vnd {
    font-size: 10px !important;
    font-weight: normal !important;
}

.statistic-money span {
    font-size: 25px;
    font-weight: bold;
    color: black;
    display: block;
    text-align: right;
}

.statistic-content > div {
    justify-self: center;
}

.statistic-money {
    justify-self: right !important;
}

.statistic-noti {
    justify-content: end;
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
}

.statistic-noti p {
    margin: 0;
    color: springgreen;
    font-weight: bold;
}

.statistic-noti i {
    padding: 0 0.5rem !important;
    color: springgreen !important;
    font-weight: bolder;
    font-size: 1rem;
}

.statistic-content > div i {
    padding: 0.5rem;
    color: var(--xam);
}

.statistic-body .statistic-content:first-child i {
    font-size: 1.5rem;
}

.statistic-header {
    background-color: var(--do);
    height: 1.5rem;
    margin: 1rem 1rem 0 1rem;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid lightgray;
    border-bottom: 0;
}

.statistic-footer {
    display: none;
    background-color: var(--do);
    height: 1.5rem;
    margin: 0 1rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    border: 1px solid lightgray;
    border-top: 0;
}

/*CONTENT other*/
.other {
    display: flex;
    width: 100%;
}



/*CONTENT activity*/
.activity {
    width: fit-content;
    min-width:47.5%;
    height: -webkit-fill-available;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid lightgray;
}

.activity > p {
    color: var(--xanhbien);
    font-size: 18px;
    font-weight: bold;
    padding-left: 0.5rem;
}

.activity > div {
    display: flex;
}

.activity ul {
    padding-left: 0.8rem;

    list-style: none;
}

.activity li {
    margin: 1rem;
    margin-left: 0;
    align-items: center;
    display: flex;
}

.activity li p {
    margin: 0;
    padding-left: 1.5rem;
}


/**/
.other > div {
    margin: 0.3rem 1rem;

}

.other > div:nth-child(2) {
    width: 52.5%;
    flex-wrap: wrap;
}

/*CONTENT information*/
.information {
    min-width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 0;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid lightgray;
}

.information > p {
    color: var(--xanhbien);
    font-size: 18px;
    font-weight: bold;
    padding-left: 0.5rem;
    margin: 0;
}

.information > div {
    display: flex;
}

.information > div > div:first-child {
    width: 100px;
    min-width: 80px;
    height: 150px;
    /*border:1px solid lightgray;*/
    /*border-radius: 1rem;*/
    justify-items: center;
    align-content: center;
}

.information > div > div {
    margin: 1rem;
    margin-top: 0.2rem;
}

.information-info {
    width: 70%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.information-info ul:first-child {
    padding: 0;
}

.information-info ul {
    height: fit-content;
    margin: 0;
}

.information-info li {
    list-style-type: none;
    padding: 0 0 1rem 0;
}

.information img {
    width:100%;
}

/*CONTENT access*/
.access {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin: 1.2rem 0 0.3rem 0;
    border: 1px solid lightgray;
}

.access > p {
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    color: var(--xanhbien);
}

.access > div {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
}

.access div > div {
    width: 50%;
    padding: 0.5rem;
    min-width: 180px;
}

.access button{
    display: flex;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lightgray;
}

.access button:hover {
    filter: brightness(90%);
}

.access button span{
    box-sizing: border-box;
    padding: 1rem;
    font-size: 17px;
    font-weight: bold;
}

.access button span:first-child{
    width: 30%;
    text-align: right;
}

.access button span:last-child{
    width: 70%;
    text-align: left;

}

.btn-create-course {
    background-color: #96dea6a1;
}

.btn-create-course span {
    color: #11892b;
}


.btn-create-class {
    background-color: #a8e1ffde
}

.btn-create-class span{
    color: #2988c2;
}


.btn-create-user {
    background-color: #ffbabac9;
}

.btn-create-user span{
    color: #a54040;
}


.btn-noti {
    background-color: #ffc799c4;
}

.btn-noti span{
    color: #c66516;
}

.access div p {
    margin: 0;
    font-size: 16px;
    color: black;
    font-size: bold;
}

/**/

@media (max-width: 1180px) {
    .content-body {
        display: block;
    }

    .content-body > div {
        min-width: 560px;
        flex-grow: 1;
    }

    .access > div >div{
        display: flex;
        flex-grow: 1;
    }


}

@media (max-width: 1024px) {


}

@media screen and (max-width: 992px) {
    .side-bar {
        min-width: auto;
    }

    .other {
        display: block;
    }


    .other > div {
        width: 100% !important;
        margin: 0;
        margin-top: 1rem;
    }

    .table-responsive {
        min-width: 780px;
    }

}

@media screen and (max-width: 920px) {
    .statistic > div {
        flex:1;
    }

    .btn-nav {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .access > div {
        display: flex;
        flex-grow: 0;
    }

    .access > div > div {
        width: 100%;
    }

}