.ccr-main {
    display: grid;
    flex-wrap: wrap;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.ccr-main > div {
    min-width: 25%;
    box-sizing: border-box;
    padding: 1rem;
    height: auto;
    /*min-width: 240px;*/
    flex: 1;
}

.ccr-search {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.ccr-search > div {
    width: 60%;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 2rem;
    border: 1px solid lightgray;
}

hr{
    margin-top: 0;
}

.ccr-search input {
    width: 90%;
    margin-right: 0.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: 0;
    background-color: transparent;
}


.ccr-search button {
    width: 10%;
    padding: 0.3rem 1rem;
    border: 0;
    text-align: center;
    background-color: transparent;
}

.content-cell {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 100%;
}

.content-cell:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(105, 247, 255, 0.49);
    border: 1px solid deepskyblue;
}

.content-cell>div {
    box-sizing: border-box;
    padding: 1rem;
}

.ccr-chart {
    display: flex;
    justify-content: center;
}

.ccr-info {
    border-top: 1px solid lightgray;
    border-radius: 0  0 1rem 1rem;
}

.ccr-info > p {
    font-weight: bold;
    color: black;
}

.ccr-info > div {
    display: flex;
    justify-content: space-between;
}