.content-body {
    display: flex;
    flex-wrap: wrap;
}

.content-body > div {
    width: 25%;
    box-sizing: border-box;
    padding: 1rem;
}

.content-cell {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.content-cell:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.content-cell>div {
    box-sizing: border-box;
    padding: 1rem;
}

.ccr-chart {
    display: flex;
    justify-content: center;
}

.ccr-info > p {
    font-weight: bold;
}

.ccr-info > div {
    display: flex;
    justify-content: space-between;
}