
.btn-log {
    bottom: 1rem;
    position: fixed;
    padding: 0.4rem 1rem;
    border: 2px solid darkred;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: var(--do);
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease, scale 0.2s ease;
}

.btn-log:hover{
    transform: translate(5px,-5px);
    scale: 1.1;
}