.nav-tabs {
    border-bottom: 0;
    box-sizing: border-box;
    height: min-content;
}

.nav-tabs .nav-link {
    background-color: lightgray;
    color: dimgrey;
    border-radius: 0.6rem 0.6rem 0 0;
    border: 1px solid lightgray;
}

.nav-tabs .nav-link:active {
    border: 1px solid lightgray;
}

