.content-body {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

}

.content-body > div {
    width: 50%;
    min-height: 380px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative;
}

.content-cell {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid lightgray;
}

select {
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;
    padding: 0.2rem;
}

/*CONTENT-CELL 1ST*/
.sta {
    gap:1rem;
}

.sta > div {
    /*flex: 1;*/
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sta > div > div {
    margin:0;
}

#sta3 {
    flex-grow: 1;
}

.content-body div:first-child .content-cell{
    background-color: transparent;
    border: 0;
}

.statistic-body {
    flex-grow: 1;
}

.content-body div:first-child .content-cell > div:last-child .statistic-body{

    margin-bottom: 0;
}

.content-cell:first-child > div {
    /*width: 50%;*/
    min-width: 224px;
}

.content-cell:first-child > div:last-child{
    width: 100%;
}

.content-cell:first-child .statistic-header {
    margin-top: 0;
}

.sta-cont-head {
    width: 100%;
}

.sta-cont-head > form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sta-cont-head label {
    margin: 0;
    align-self: center;
    font-weight: bold;
}

.content-cell > div:nth-child(3) .statistic-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.sta-cont-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content-cell > div:nth-child(3) .statistic-content > div {
    width: 50%;
    padding-top: 1rem;
}

.content-cell > div:nth-child(3) .statistic-content > div:nth-of-type(even) {
    padding-left: 3rem;
}

.sta-cont-body span:nth-child(2) {
    color: var(--xanhbien);
    font-weight: bold;
}

/*CONTENT-CELL CHART*/
.my-chart {
    position: relative;
    width: 100%;
    padding: 1rem;
}

#myChart {
    width: 100% !important;
    height: max-content !important;
    left: 0;
}

#barChart {
    width: 100% !important;
}

.my-chart > div {
    /*width: 100% !important;*/
    position: relative;
    height: 400px !important;
    justify-items: center;
}

.my-chart p {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
    font-weight: bold;
    color: var(--den);
}

/*CONTENT-CELL 3RD*/
.month{
    padding: 1.5rem !important;
    overflow: hidden;
}

.month-header {
    display: flex;
    padding-bottom: 1rem;
    width: 100% !important;
    justify-content: space-between;
}

.month-header .statistic-money{
    display: flex;
    flex-wrap: nowrap;
}

.month-header .statistic-money span{
    padding-left: 0.5rem;
    width: max-content;

}

#month-select {
    height: 2rem;
    margin-left: 1rem;
}

.month-body {
    max-height: 400px;
    flex: 1;
    overflow:hidden;
}

.month-body table {
    width: 100%;
}

.month-body table th, .month-body table td{
    border: 1px solid lightgray;
    padding: 1rem;
}

/*PIE CHART*/
#pieChart {
    position: absolute;
    width: fit-content !important;
}